# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build directories
/frontend/build/
/backend/build/

# System Files
.DS_Store
Thumbs.db

# IDE and Editor directories
.vscode/
.idea/

# Others (customize as needed)
